*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.scan{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan .fingerprint{
    position: relative;
    width: 300px;
    height: 300px;
    background: url(IMG\fingerPrint_01.png);
    background-size: 300px;
}

.scan .fingerprint::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(IMG\fingerPrint_01.png);
    background-size: 300px;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%, 100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}